<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwExceptions="false"
      internalLogFile="C:/logs/internalNlogFile.txt"
      autoReload="true"
      internalLogLevel="Debug">

  <!-- make sure to set 'Copy To Output Directory' option for this file -->
  <!-- go to http://nlog-project.org/wiki/Configuration_file for more information -->

  <!--
Trace - very detailed logs, which may include high-volume information such as protocol payloads. This log level is typically only enabled during development
Debug - debugging information, less detailed than trace, typically not enabled in production environment.
Info - information messages, which are normally enabled in production environment
Warn - warning messages, typically for non-critical issues, which can be recovered or which are temporary failures
Error - error messages
Fatal - very serious errors  

${basedir}

NOTE: This: 
${specialfolder:ApplicationData}\\Remote Backup\\${appName}\\ 
ends up here:
C:\Documents and Settings\Administrator\Application Data\Remote Backup\RemoteBackup
that is:
C:\Documents and Settings\<current user>\Application Data\Remote Backup\RemoteBackup

  -->

  <variable name="appName" value="RemoteBackup" />

  <targets async="true">
    <target xsi:type="File"
            name="logfile"
            layout="${longdate} - ${level:uppercase=true}: ${message}${onexception:${newline}EXCEPTION\: ${exception:format=ToString}}"
            fileName="${specialfolder:CommonApplicationData}\\Remote Backup\\${appName}\\remoteBackupLog.txt"
            archiveFileName="${specialfolder:CommonApplicationData}\\Remote Backup\\${appName}\\remoteBackupLog.{#####}.txt"
            archiveAboveSize="1024000"
            archiveNumbering="Sequence"
            concurrentWrites="true"
            keepFileOpen="false"
            encoding="iso-8859-2" />
    <target name="console" xsi:type="Console" />
    <target xsi:type="EventLog"
             name="eventlog"
             layout="${message}${newline}${exception:format=ToString}"
             source="${appName}"
             log="Application" />
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="logfile" />
    <logger name="*" minlevel="Trace" writeTo="console" />
    <logger name="*" minlevel="Error" writeTo="eventLog" />
  </rules>
</nlog>
